@use "@/styles/abstracts"as a;

.container {
  margin-top: 2rem;

  &__contact {
    display: flex;
    margin: 2rem 10rem;
    box-shadow: a.$secondary-box-shadow;
    border-radius: 1rem;

    .left {
      flex: 1.5;
      display: grid;
      place-content: center;
      gap: 2rem;
      background-color: a.$primary-clr-1;
      border-radius: 1rem 0 0 1rem;

      figure {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;

        .icons {
          border: 1px solid a.$primary-clr-2;
          border-radius: 50%;
          height: 3rem;
          width: 3rem;
          display: grid;
          place-items: center;
          font-size: 1.5rem;
          transition: all 0.25s ease-in-out;

          &:hover {
            border: 1px solid a.$secondary-clr-2;
            background-color: a.$primary-clr-1;
            color: a.$secondary-clr-2;
          }
        }
      }

      .bottom {
        @include a.flex-direction-column;
        gap: 1rem;

        h1 {
          text-align: center;
        }

        .social__links {
          display: flex;
          justify-content: center;
          gap: 1rem;
          font-size: 1.5rem;

          a {
            transition: all 0.25s ease-in-out;

            &:hover {
              color: a.$secondary-clr-2;
              transform: translateY(-3px);
            }
          }
        }
      }
    }

    .right {
      @include a.flex-direction-column;
      flex: 2;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      .header {
        font-size: a.$regular-fs;
      }

      form {
        @include a.flex-direction-column;
        gap: 1rem;
        margin-top: 1rem;

        .form__control {
          @include a.flex-direction-column;
          gap: 0.5rem;

          input,
          textarea {
            border: 1px solid a.$primary-clr-1;
            border-radius: 0.5rem;
            width: 30rem;
            padding: 0.8rem 1rem;
            outline: none;
            color: a.$primary-clr-3;
            font-size: 1rem;
            font-family: inherit;

            &::placeholder {
              color: a.$primary-clr-2;
            }
          }

          textarea {
            height: 10rem;
          }
        }

        .btn {
          margin: 1rem auto;
          width: 12.5rem;
          padding: 0.75rem 1rem;
          text-transform: uppercase;
          font-size: a.$small-fs;
          font-weight: a.$bold-fw;
          color: a.$primary-clr-1;
          background-color: a.$primary-clr-3;
          border: none;
          border-radius: 0.25rem;
          cursor: pointer;
          transition: a.$transition-ease;

          &:hover {
            color: a.$primary-clr;
            background-color: a.$primary-clr-5;
          }
        }
      }
    }
  }
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .container {
    margin: 1rem 0 3rem;

    &__contact {
      margin: 2rem 5rem;

      .left {
        figure {
          gap: 1rem;
        }
      }
    }
  }
}

// Media Query for medium devices (less than 1024px)
@include a.media-query(medium) {
  .container {
    &__contact {
      margin: 1rem 3rem;

      .left {
        padding: 0 1rem;

        figure {
          gap: 1rem;
          flex-direction: column;

          figcaption {
            text-align: center;
          }
        }
      }

      .right {
        form {
          .form__control {

            input,
            textarea {
              width: 25rem;
            }
          }
        }
      }
    }
  }
}

// Media Query for small devices (less than 1024px)
@include a.media-query(small) {
  .container {
    &__contact {
      flex-direction: column-reverse;
      margin: 1rem 2rem;

      .left {
        border-radius: 0 0 1rem 1rem;
        padding: 2rem 0;
        gap: 1rem;

        figure {
          gap: 1rem;
        }
      }

      .right {
        form {
          .form__control {

            input,
            textarea {
              width: 18rem;
            }
          }
        }
      }
    }
  }
}