// Color Pallette
$primary-clr: hsl(0, 0%, 100%);
$primary-clr-1: hsl(354, 100%, 90%);
$primary-clr-2: hsl(0, 69%, 67%);
$primary-clr-3: hsl(0, 65%, 51%);
$primary-clr-4: hsl(0, 100%, 50%);
$primary-clr-5: hsl(0, 63%, 36%);

$secondary-clr: hsl(0, 0%, 97%);
$secondary-clr-1: hsl(0, 0%, 79%);
$secondary-clr-2: hsl(199, 18%, 33%);
$secondary-clr-3: hsl(200, 19%, 18%);