@use "@/styles/abstracts"as a;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  min-height: 5.25rem;
  color: a.$primary-clr-3;

  .left {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    flex: 1;

    &__info {
      display: flex;
      flex-direction: column;
      text-align: center;

      h1 {
        font-size: a.$small-fs;
      }

      span {
        font-size: a.$small-fs;
      }
    }
  }

  .center {
    display: flex;
    align-items: center;
    gap: 3rem;

    ul {
      display: flex;
      gap: 3rem;
    }

    h1 {
      cursor: pointer;
      font-size: 3rem;
      color: a.$primary-clr-3;
      font-family: a.$secondary-ff;
    }
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;

    .icon {
      display: grid;
      place-items: center;
      font-size: 1.7rem;
      cursor: pointer;
      transition: a.$transition-ease;

      &:hover {
        color: a.$primary-clr-5;
      }
    }

    &__account {
      position: relative;

      &>.btn__link:focus {
        color: a.$primary-clr-5;
      }

      .btn__link {
        background: none;
        border: none;
        color: a.$primary-clr-3;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus+.dropdown__menu {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
        }
      }

      .dropdown__menu {
        @include a.flex-direction-column;
        position: absolute;
        right: 1.6rem;
        top: calc(100% + 0.5rem);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        color: a.$primary-clr-3;
        background-color: a.$primary-clr-1;
        box-shadow: a.$primary-box-shadow;
        transition: a.$transition-ease;
        transform: translateY(-10px);
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;

        .triangle {
          position: absolute;
          top: -0.5rem;
          right: 0rem;
          width: 0;
          height: 0;
          border-left: 0.5rem solid transparent;
          border-bottom: 0.5rem solid a.$primary-clr-1;
        }

        a {
          text-align: center;
          padding: 0.35rem 0.8rem;
          transition: a.$transition-ease;

          &:hover {
            color: a.$secondary-clr-3;
          }
        }

        hr {
          border: none;
          border-bottom: 1px solid a.$primary-clr;
        }
      }
    }

    &__cart {
      position: relative;

      .quantity {
        position: absolute;
        right: -0.5rem;
        top: -0.5rem;
        height: 1.1rem;
        width: 1.1rem;
        border-radius: 50%;
        background-color: a.$primary-clr-1;
        color: a.$primary-clr-3;
        display: grid;
        place-items: center;
        font-size: a.$small-fs;
        font-weight: a.$regular-fw;
        user-select: none;
      }
    }
  }
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .container {
    padding: 0.5rem 1rem;

    .left {
      gap: 0rem;

      &__info {

        h1,
        span {
          font-size: a.$very-small-fs;
          line-height: 1.2;
        }
      }
    }
  }
}

// Media Query for medium devices (less than 768px)
@include a.media-query(medium) {
  .container {
    .center {
      gap: 1rem;

      ul {
        gap: 1rem;
      }
    }
  }
}

// Media Query for small devices (less than 480px)
@include a.media-query(small) {
  .container {
    padding: 0rem 0.8rem;

    .center {
      ul {
        li {
          display: none;
        }
      }

      h1 {
        font-size: 2.5rem;
      }
    }

    .right {
      gap: 0.2rem;

      &__icon {
        font-size: 1.5rem;
      }

      span {
        right: 1.6rem;
      }
    }
  }
}