@use "@/styles/abstracts"as a;

.container {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  background-color: a.$primary-clr-3;
  color: a.$secondary-clr;
  user-select: none;

  li {
    font-size: a.$small-fs;
  }

  .logo {
    @include a.flex-direction-column;
    align-items: center;

    h1 {
      font-size: 4rem;
      font-family: a.$secondary-ff;
    }

    .icons {
      display: flex;
      gap: 1rem;
      font-size: 1.5rem;

      .icon {
        transition: color 0.3s ease;

        &:hover {
          color: a.$secondary-clr-3;
        }
      }
    }

    .copyright {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .links {
    @include a.flex-direction-column;
    gap: 1rem;

    ul {
      li {
        a {
          transition: color 0.3s ease;

          &:hover {
            color: a.$secondary-clr-3;
          }
        }
      }
    }
  }

  .locations {
    @include a.flex-direction-column;
    gap: 1rem;

    ul {
      @include a.flex-direction-column;
      gap: 0.5rem;
    }
  }

  .hours {
    @include a.flex-direction-column;
    gap: 1rem;

    ul {
      @include a.flex-direction-column;
      gap: 0.5rem;
    }
  }
}

//********MEDIA QUERY********

// Media Query for medium devices (less than 1024px)
@include a.media-query(medium) {
  .container {
    padding: 1rem;

    .logo {
      h1 {
        font-size: 3rem;
      }
    }
  }
}

// Media Query for small devices (less than 480px)
@include a.media-query(small) {
  .container {
    flex-direction: column;
    gap: 1rem;
  }
}