@use "@/styles/abstracts"as a;

.container {
  padding: 2rem 3rem;

  .tabs {
    @include a.flex-direction-column;
    gap: 1rem;

    .nav {
      width: 75%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      hr {
        border: none;
        border-top: 0.1rem solid a.$secondary-clr-1;
        width: 12rem;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
  }
}

// ******MEDIA QUERIES******

// Media Query for small devices (less than 480px)
@include a.media-query(small) {
  .container {
    padding: 1rem;

    .tabs {

      .nav {
        width: 100%;
      }
    }
  }
}