@use "@/styles/abstracts"as a;

.container {
  overflow: hidden;
  height: 78vh;

  .testimonials {
    position: relative;
    padding: 2rem 0rem;

    &__left,
    &__right {
      @include a.arrow;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 18rem;
      background-color: a.$primary-clr;

      .arrow {
        font-size: 2rem;
        transition: a.$transition-ease;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    &__left {
      justify-content: end;
      left: 0;
    }

    &__right {
      justify-content: start;
      right: 0;
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      width: 400vw;
      height: 100%;
      transition: all 0.5s ease;

      .slider {
        @include a.flex-direction-column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        .img {
          &>span {
            border-radius: 50%;
          }
        }

        .info {
          width: 45%;
          text-align: center;

          p {
            font-style: italic;
            color: a.$secondary-clr-2;
          }

          h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .container {
    height: 45vh;

    .header {
      padding: 0rem 2rem;
    }

    .testimonials {
      padding: 0rem;

      &__left,
      &__right {
        width: 12rem;
      }
    }
  }
}

// Media Query for medium devices (less than 768px)
@include a.media-query(medium) {
  .container {
    height: 60vh;
    margin-top: 2rem;

    .testimonials {

      &__left,
      &__right {
        width: 8rem;
      }
    }
  }
}

// Media Query for small devices (less than 480px)
@include a.media-query(small) {
  .container {
    height: fit-content;

    .testimonials {

      &__left,
      &__right {
        width: 4rem;
      }
    }
  }
}