@use "@/styles/abstracts"as a;

.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .location {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 0rem;

    &__wrapper {
      height: fit-content;
      width: fit-content;
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      border-radius: 76% 24% 0% 24% / 0% 38% 0% 42%;
      box-shadow: a.$primary-box-shadow;
      padding: 1.5rem;
      cursor: pointer;

      .address {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
          line-height: 1;
        }

        .street {
          color: a.$secondary-clr-2;
          font-size: 0.9rem;
        }

        .phone {
          color: a.$primary-clr-5;
          font-size: a.$small-fs;
        }
      }
    }
  }
}

//********MEDIA QUERY********

// Media Query for large devices (less than 1024px)
@include a.media-query(large) {
  .container {
    height: 40vh;
    padding: 0rem 2rem;

    .location {
      gap: 2rem;
    }
  }
}

// Media Query for medium devices (less than 768px)
@include a.media-query(medium) {
  .container {
    height: 62.5vh;

    .location {
      padding: 1rem 0rem;
      display: grid;
      place-items: center;
      grid-template-columns: repeat(2, 0.4fr);

      &__wrapper {
        width: 12.5rem;
      }
    }
  }
}

// Media Query for small devices (less than 480px)
@include a.media-query(small) {
  .container {
    height: fit-content;
    margin: 2rem 0rem;

    .location {
      padding: 1rem 0rem;
      grid-template-columns: repeat(1, 0.4fr);
      gap: 2rem;

      &__wrapper {
        .address {
          h3 {
            font-size: 1rem;
          }

          p {
            font-size: 0.9rem;
          }

          span {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}