@use "@/styles/abstracts"as a;

.container {
  list-style: none;

  .active {
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;
    gap: 0.5rem;
    color: a.$secondary-clr-3;
    background-color: a.$secondary-clr-1;
    border-radius: 2rem;
    cursor: pointer;
  }

  .title {
    font-size: 1rem;
  }

  .checked__icon {
    display: grid;
    place-items: center;
  }

  .inactive {
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;
    gap: 0.5rem;
    color: a.$secondary-clr-3;
    cursor: pointer;
    opacity: 0.35;

    .checked__icon {
      display: none;
    }
  }
}