@use "@/styles/abstracts"as a;

.btn {
  @include a.btn-container;
  height: 2rem;
  background-color: a.$primary-clr-1;

  .icon {
    @include a.btn-icon;
    height: 1.5rem;
    width: 1.5rem;

    svg {
      @include a.btn-icon-svg;
      width: 1rem;
    }
  }
}